language: csharp
node_js: 
 - '0.10' 
solution: RedisAB.sln 
mono:
  - latest
deploy:
   edge: true
   provider: cloudfoundry
   username: jasonrdonald@yahoo.co.in
   password: Jason@1
   api: https://api.run.pivotal.io
   organization: Techavengers
   space: development

before_install:
  - sudo apt-get install nunit-console
before_script:
  - nuget restore RedisAB.sln
  
after_script:
  - cf push RedisAB -b https://github.com/Sujithkumarreddy/RedisAB.git
  
 

