@{
    ViewBag.Title = "Hey";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<div>
    <div style="display: block">
        <span style="float: left; width:300px">
            Page B
            <a data-view-name="@ViewBag.ViewName"
               data-action-name="@ViewContext.RouteData.GetRequiredString("action")"
               href="#"><img src="~/Images/GitHub-Logo.png" /></a>
        </span>

    </div>
</div>
